[project]
	description = Samples for the various Swagger projects under swagger-api
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/mahesh-uma
[access "refs/for/refs/*"]
	read = group user/mahesh-uma
	push = group user/mahesh-uma
	label-Code-Review = -2..+2 group user/mahesh-uma
	label-Verified = -1..+1 group user/mahesh-uma
	rebase = group user/mahesh-uma
	removeReviewer = group user/mahesh-uma
	submit = group user/mahesh-uma
[access "refs/heads/*"]
	read = group user/mahesh-uma
	create = group user/mahesh-uma
	push = +force group user/mahesh-uma
	pushMerge = group user/mahesh-uma
[access "refs/tags/*"]
	push = group user/mahesh-uma
	push = +force group user/mahesh-uma
